@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #000;
  font-size: 18px;
  line-height: 1.42857143;
}

img {
  max-width: 100%;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

a, button {
  cursor: pointer;
}

.regular, body, .vform-main input {
  font-family: Arial;
  font-weight: 400;
}

@font-face {
  font-family: RoomBlack;
  src: local("RoomBlack"), url(../fonts/RoomBlack.otf);
}

.black, .vnav-text, .header-do, .vbtn, .vtitle, .vtitle-small, .vtitle-big, .fluid-block, .why-title, .review-name, .step-title, .phones-tablets, .vmodal-title {
  font-family: RoomBlack;
}

/* ===================== 
Start: COLUMNS      
======================== */
.vak-xs-1 {
  -webkit-flex-basis: 8.33333%;
      -ms-flex-preferred-size: 8.33333%;
          flex-basis: 8.33333%;
  max-width: 8.33333%;
}

.vak-xs-2 {
  -webkit-flex-basis: 16.66667%;
      -ms-flex-preferred-size: 16.66667%;
          flex-basis: 16.66667%;
  max-width: 16.66667%;
}

.vak-xs-3 {
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
  max-width: 25%;
}

.vak-xs-4 {
  -webkit-flex-basis: 33.33333%;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%;
  max-width: 33.33333%;
}

.vak-xs-5 {
  -webkit-flex-basis: 41.66667%;
      -ms-flex-preferred-size: 41.66667%;
          flex-basis: 41.66667%;
  max-width: 41.66667%;
}

.vak-xs-6 {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  max-width: 50%;
}

.vak-xs-7 {
  -webkit-flex-basis: 58.33333%;
      -ms-flex-preferred-size: 58.33333%;
          flex-basis: 58.33333%;
  max-width: 58.33333%;
}

.vak-xs-8 {
  -webkit-flex-basis: 66.66667%;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%;
  max-width: 66.66667%;
}

.vak-xs-9 {
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%;
  max-width: 75%;
}

.vak-xs-10 {
  -webkit-flex-basis: 83.33333%;
      -ms-flex-preferred-size: 83.33333%;
          flex-basis: 83.33333%;
  max-width: 83.33333%;
}

.vak-xs-11 {
  -webkit-flex-basis: 91.66667%;
      -ms-flex-preferred-size: 91.66667%;
          flex-basis: 91.66667%;
  max-width: 91.66667%;
}

.vak-xs-12 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .vak-sm-1 {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .vak-sm-2 {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .vak-sm-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .vak-sm-4 {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .vak-sm-5 {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .vak-sm-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .vak-sm-7 {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .vak-sm-8 {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .vak-sm-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .vak-sm-10 {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .vak-sm-11 {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .vak-sm-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 1025px) {
  .vak-md-1 {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .vak-md-2 {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .vak-md-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .vak-md-4 {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .vak-md-5 {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .vak-md-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .vak-md-7 {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .vak-md-8 {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .vak-md-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .vak-md-10 {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .vak-md-11 {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .vak-md-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .vak-lg-1 {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .vak-lg-2 {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .vak-lg-3 {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
    max-width: 25%;
  }
  .vak-lg-4 {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .vak-lg-5 {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .vak-lg-6 {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 50%;
  }
  .vak-lg-7 {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .vak-lg-8 {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .vak-lg-9 {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
    max-width: 75%;
  }
  .vak-lg-10 {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .vak-lg-11 {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .vak-lg-12 {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
  }
}

/* =====================
End:  COLUMNS
======================== */
/* ===================== 
Start: HIDDEN AND VISIBLE UTILITIES      
======================== */
.vhidden,
.vvisible-lg,
.vvisible-md,
.vvisible-sm,
.vvisible-xs,
.vvisible-exs {
  display: none !important;
}

@media (min-width: 1200px) {
  .vhidden-lg {
    display: none !important;
  }
  .vvisible-lg {
    display: block !important;
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .vhidden-md {
    display: none !important;
  }
  .vvisible-md {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .vhidden-sm {
    display: none !important;
  }
  .vvisible-sm {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .vhidden-xs {
    display: none !important;
  }
  .vvisible-xs {
    display: block !important;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .vvisible-exs {
    display: block !important;
  }
}

/* =====================
End:  HIDDEN AND VISIBLE UTILITIES
======================== */
.relative, .vcontainer, .vcontainer-small, .cf, .footer, .vtabs-wrap, .vtabs-links, .vtabs-content, .vsection, .vnav li a, .header, .vbtn, .list li, .vtabs-list a {
  position: relative;
}

.vcontainer, .vcontainer-small {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.center-block, .vcontainer, .vcontainer-small, .vform-main {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cf:after, .vcontainer:after, .vcontainer-small:after, .footer:after, .vtabs-wrap:after, .vtabs-links:after, .vtabs-content:after, .cf:before, .vcontainer:before, .vcontainer-small:before, .footer:before, .vtabs-wrap:before, .vtabs-links:before, .vtabs-content:before {
  content: "";
  display: table;
}

.cf:after, .vcontainer:after, .vcontainer-small:after, .footer:after, .vtabs-wrap:after, .vtabs-links:after, .vtabs-content:after {
  clear: both;
}

.vrow {
  margin-left: -15px;
  margin-right: -15px;
}

.flex, .vrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.flex-v-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

[class*="vak"] {
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .vcontainer {
    width: 750px;
  }
}

@media (min-width: 1025px) {
  .vcontainer {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .vcontainer {
    width: 1170px;
  }
}

@media (min-width: 1025px) {
  .vcontainer-small {
    width: 970px;
  }
}

.vsection {
  padding-top: 50px;
  padding-bottom: 50px;
}

.vpull-left {
  float: left;
}

.vpull-right {
  float: right;
}

.block-inline, img, .vnav-text, .vbtn, .vform-main input {
  display: inline-block;
}

.vnav-logo {
  font-size: 0;
}

.vnav-text-inner {
  display: block;
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .vnav-wrap-fixed .vnav-text {
    position: absolute;
    top: 40px;
    right: 0;
    min-width: 180px;
    padding: 15px;
    background-color: #365d98;
    border-top: 4px solid #3d69ab;
    -webkit-transform: translateZ(0) translateX(120%);
            transform: translateZ(0) translateX(120%);
    font-size: 19px;
    color: #fff;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .vnav-wrap-fixed .vnav-text.active {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .vnav-wrap-fixed .vnav-text-toggle span {
    background-color: white;
  }
  .vnav-wrap-fixed .vnav-text-toggle {
    display: block;
    cursor: pointer;
  }
  .vnav-wrap-fixed .vnav-text-toggle span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    margin-right: 5px;
    -webkit-border-radius: 100%;
            border-radius: 100%;
  }
  .vnav-wrap-fixed .vnav-text-toggle span:last-child {
    margin-right: 0;
  }
  .vnav-logo img {
    vertical-align: middle;
    max-height: 28px;
    max-width: 140px;
  }
}

@media (min-width: 1025px) {
  .vnav-text {
    font-size: 25px;
  }
  .vnav-text-toggle, .vnav-text-hidden {
    display: none;
  }
}

.vnav-wrap-fixed .vnav, .vnav-btn, .vnav-btn .lines, .vnav-btn .lines span {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.vnav li {
  display: block;
}

.vnav li a {
  color: inherit;
}

.vnav-btn {
  margin-right: 15px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.vnav-btn, .vnav-btn .lines, .vnav-btn .text {
  display: inline-block;
  vertical-align: middle;
}

.vnav-btn .lines {
  position: relative;
  width: 24px;
  height: 20px;
}

.vnav-btn .lines span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: white;
}

.vnav-btn .lines span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: 3px 5px;
      -ms-transform-origin: 3px 5px;
          transform-origin: 3px 5px;
}

.vnav-btn .lines span:nth-child(2) {
  top: 8px;
  opacity: 1;
}

.vnav-btn .lines span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: 1px -1px;
      -ms-transform-origin: 1px -1px;
          transform-origin: 1px -1px;
}

.vnav-btn .text {
  margin-left: 15px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.vnav-btn.active .lines span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.vnav-btn.active .lines span:nth-child(2) {
  -webkit-transform: translateX(-60px);
      -ms-transform: translateX(-60px);
          transform: translateX(-60px);
  opacity: 0;
}

.vnav-btn.active .lines span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 1024px) {
  .vnav-wrap-fixed, .vnav-wrap-fixed .vnav {
    position: fixed;
    left: 0;
    background-color: #365d98;
  }
  .vnav-wrap-fixed + .main-wrapper {
    margin-top: 56px;
  }
  .vnav-wrap-fixed {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 56px;
    left: 0;
    top: 0;
    padding: 11px 0;
    z-index: 10;
  }
  .vnav-wrap-fixed-container {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .vnav-wrap-fixed .vnav-container {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .vnav-wrap-fixed .vnav {
    width: 270px;
    height: 100%;
    padding: 0 0 100px 0;
    top: 56px;
    z-index: 1;
    overflow-y: auto;
    -webkit-transform: translateZ(0) translateX(-120%);
            transform: translateZ(0) translateX(-120%);
  }
  .vnav-wrap-fixed .vnav-active {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .vnav-wrap-fixed li a {
    color: #fff;
    display: block;
    padding: 15px;
    margin-bottom: 15px;
  }
  .vnav-wrap-fixed li.active a {
    background-color: #3d69ab;
  }
}

@media (min-width: 1025px) {
  .vnav li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
  }
  .vnav li a {
    font-size: 14px;
  }
  .vnav li a:after {
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    background-color: #fd7036;
    opacity: 0;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
  }
  .vnav li a:hover:after {
    opacity: 1;
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
  .vnav-wrap-fixed {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    color: #fff;
  }
  .vnav-btn {
    display: none;
  }
}

.header {
  min-height: 50px;
  z-index: 1;
  color: #fff;
  padding: 30px 0 0 0;
  margin-bottom: 80px;
  background: url("../img/header.jpg") right center no-repeat;
  background-size: cover;
}

.header-do {
  text-transform: uppercase;
  line-height: 1;
  font-size: 16px;
}

.header-do-title {
  font-size: 24px;
  text-decoration: underline;
}

.header-do-inner {
  display: inline-block;
  vertical-align: middle;
}

.header-do-inner:first-child {
  margin-right: 3.5px;
}

.header-block-wrap {
  margin-top: 30px;
}

.header-form {
  padding: 20px 15px;
  background-color: #fff;
  margin-bottom: -50px;
  text-align: center;
  -webkit-box-shadow: 0 0 9px rgba(13, 13, 17, 0.14);
          box-shadow: 0 0 9px rgba(13, 13, 17, 0.14);
}

.header-form-title {
  margin-bottom: 20px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #355c98;
}

@media (max-width: 767px) {
  .header-form .vform-main-inner input,
  .header-form .vform-main-button button {
    display: block;
    width: 100%;
  }
  .header-form .vform-main-inner {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header-form-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .header-form-inner .vform-main-inner {
    -webkit-flex-basis: 33.3333%;
        -ms-flex-preferred-size: 33.3333%;
            flex-basis: 33.3333%;
    padding-right: 15px;
  }
  .header-form-inner .vform-main-inner:nth-child(1), .header-form-inner .vform-main-inner:nth-child(2) {
    border-right: none;
  }
  .header-form-inner .vform-main-inner:nth-child(3) {
    padding-right: 0;
  }
  .header-form-inner .vform-main-button {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin-top: 15px;
  }
}

@media (min-width: 1200px) {
  .header-form .vform-main-button,
  .header-form .vform-main-inner {
    display: inline-block;
  }
  .header-form .vform-main-inner {
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .header {
    background-position-x: 75%;
  }
  .header-do {
    text-align: center;
  }
  .header-block-text {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .header {
    padding-top: 50px;
  }
  .header-do {
    position: absolute;
    top: 115px;
    left: 390px;
  }
  .header-do-big-ls {
    letter-spacing: 10px;
  }
  .header-do-inner:first-child {
    margin-right: 15px;
  }
  .header-do-title {
    font-size: 27px;
  }
  .header-form-title {
    font-size: 21px;
  }
}

@media (max-width: 1024px) {
  .header-block {
    margin-bottom: 30px;
  }
}

@media (min-width: 1025px) {
  .header {
    padding-top: 94px;
  }
  .header-intro {
    padding-left: 65px;
  }
  .header-do {
    left: 490px;
  }
  .header-block-text {
    font-size: 15px;
  }
  .header-form {
    margin-top: 57px;
  }
  .header-form-title {
    font-size: 20px;
  }
  .header-form-inner {
    padding: 0 10px;
    text-align: left;
  }
}

@media (max-width: 1199px) {
  .header-block-inner {
    text-align: center;
  }
  .header-block-image {
    min-height: 55px;
  }
}

@media (min-width: 1200px) {
  .header-block-image, .header-block-text {
    display: inline-block;
    vertical-align: middle;
  }
  .header-block-image {
    margin-right: 15px;
  }
  .header-block-text {
    max-width: 180px;
  }
}

.footer {
  padding: 10px 15px;
  background-color: #131313;
}

.transition, .vnav li a:after, .vbtn, .vbtn:before, .vform-main input, .vtabs-list a, .vtabs-list a:after {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.pseudo, .vnav li a:after, .vbtn:before, .list li:after, .vtabs-list a:after {
  content: "";
  position: absolute;
}

.vertical-image:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.vertical-image img {
  max-height: 100%;
  vertical-align: middle;
}

.index-1 {
  z-index: 1;
}

.index-2 {
  z-index: 2;
}

.index-3 {
  z-index: 3;
}

.text-small {
  font-size: 11px;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.color-main {
  color: #fd7036;
}

.color-main-second {
  color: #355c98;
}

.color-white {
  color: white;
}

.vbtn {
  min-width: 200px;
  max-width: 100%;
  padding: 19px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  z-index: 1;
  font-size: 18px;
}

.vbtn:before {
  z-index: -1;
}

@media (min-width: 480px) {
  .vbtn {
    font-size: 18px;
  }
}

.vbtn-effect {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.vbtn-effect-skew:before {
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.vbtn-effect-skew:hover:before {
  height: -webkit-calc(450% - 40px);
  height: calc(450% - 40px);
  opacity: 1;
}

.vbtn-effect-bgtransition:before, .vbtn-effect-shutter:before, .vbtn-effect-shutter-vertical-out:before, .vbtn-effect-shutter-horizontal-out:before, .vbtn-effect-bounce:before, .vbtn-effect-bounce-top:before, .vbtn-effect-bounce-bottom:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.vbtn-effect-shutter-vertical-out:before, .vbtn-effect-bounce:before, .vbtn-effect-bounce-top:before, .vbtn-effect-bounce-bottom:before {
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
}

.vbtn-effect-shutter-vertical-out:hover:before, .vbtn-effect-bounce:hover:before, .vbtn-effect-bounce-top:hover:before, .vbtn-effect-bounce-bottom:hover:before {
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

.vbtn-effect-shutter-horizontal-out:before {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

.vbtn-effect-shutter-horizontal-out:hover:before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.vbtn-effect-bounce:hover:before, .vbtn-effect-bounce-top:hover:before, .vbtn-effect-bounce-bottom:hover:before {
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.vbtn-effect-bounce-top:before {
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
}

.vbtn-effect-bounce-bottom:before {
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
      transform-origin: 50% 0;
}

.vbtn-main {
  color: #fff;
  background-color: #ff8c32;
  -webkit-box-shadow: 0 8px 10px rgba(244, 75, 0, 0.64);
          box-shadow: 0 8px 10px rgba(244, 75, 0, 0.64);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 100, 56, 0.8)), to(rgba(255, 140, 50, 0.8)));
  background-image: -webkit-linear-gradient(bottom, rgba(252, 100, 56, 0.8), rgba(255, 140, 50, 0.8));
  background-image: linear-gradient(to top, rgba(252, 100, 56, 0.8), rgba(255, 140, 50, 0.8));
}

.vbtn-main:before {
  background-color: #fea682;
}

.vbtn-main:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 768px) {
  .vbtn-single {
    margin-top: 70px;
  }
}

@media (max-width: 767px) {
  .vbtn-single {
    margin-top: 35px;
  }
}

@media (min-width: 768px) {
  .vbtn-single .vbtn {
    padding-left: 35px;
    padding-right: 35px;
    text-transform: uppercase;
  }
}

.vform-main {
  width: 100%;
  font-size: 0;
}

@media (min-width: 768px) {
  .vform-main-fixed-width {
    width: 300px;
  }
}

.vform-main input {
  border: 1px solid #d2d9e4;
  -webkit-border-radius: 0;
          border-radius: 0;
  text-align: center;
  max-width: 100%;
  padding: 18.8px 0;
  color: #92979a;
  font-size: 18px;
  outline: none;
}

.vform-main input:focus {
  border-color: #fd7036;
}

.vform-main-inner {
  position: relative;
}

.vform-main-inner input,
.vform-main-button button {
  display: block;
  width: 100%;
}

.vform-main-necessary {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
  color: #ff8433;
}

.vmodal .vform-main {
  color: #fd7036;
}

.vmodal .vform-main-inner {
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .vmodal .vform-main input, .vmodal .vform-main button {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .vform-main button {
    display: inline-block;
  }
}

.list li {
  margin-bottom: 15px;
}

.list li:after {
  top: 0;
}

.list-check-small li, .list-check-big li {
  padding-left: 40px;
  margin-bottom: 15px;
}

.list-check-small li:after, .list-check-big li:after {
  top: 0;
  left: 0;
  width: 30px;
  height: 24px;
}

.list-check-orange li:after {
  background: url("../img/check.png") 0 0 no-repeat;
  background-size: cover;
}

.list-cancel li {
  padding-left: 40px;
}

.list-cancel li:after {
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: url("../img/cancel.png") 0 0 no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .list-check-big li {
    padding-left: 70px;
  }
  .list-check-big li:after {
    top: -10px;
    left: 15px;
    width: 46px;
    height: 37px;
  }
  .list-cancel li {
    padding-left: 70px;
  }
  .list-cancel li:after {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 1025px) {
  .list-cancel li {
    padding-left: 90px;
  }
}

.vcollapse-wrap {
  margin-top: 30px;
  margin-bottom: 30px;
}

.vcollapse-wrap > .vcollapse-wrap {
  padding-left: 15px;
  padding-right: 15px;
}

.vcollapse-header {
  cursor: pointer;
  padding: 15px;
  background-color: #ddd;
}

.vcollapse-inner {
  margin-bottom: 30px;
}

.vcollapse-inner.active .vcollapse-header {
  background-color: #f00;
}

.vcollapse-body {
  margin-top: 7.5px;
  display: none;
}

.vtitle {
  margin-bottom: 50px;
  line-height: 1.1;
  font-size: 24px;
}

@media (min-width: 480px) {
  .vtitle {
    font-size: 35px;
  }
}

@media (min-width: 768px) {
  .vtitle {
    font-size: 48px;
  }
}

.vtitle-small {
  margin: 12px 0;
  font-size: 17px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .vtitle-small {
    font-size: 24px;
  }
}

.vtitle-small-secret {
  display: inline;
  background-color: #fff;
  color: #fd7036;
}

.vtitle-big {
  line-height: 1;
  font-size: 35px;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}

@media (min-width: 480px) {
  .vtitle-big {
    font-size: 48px;
  }
}

@media (min-width: 768px) {
  .vtitle-big {
    font-size: 90px;
  }
}

@media (min-width: 1025px) {
  .vtitle-big {
    letter-spacing: 4px;
  }
  .vtitle-small-secret {
    padding: 7px 30px;
    background: url("../img/secret.png") 0 0 no-repeat;
    background-size: cover;
  }
}

.text-tu, .vtitle {
  text-transform: uppercase;
}

.text-du {
  text-decoration: underline;
}

.text-dn, .vnav li a, .vbtn {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media (min-width: 1200px) {
  .min-lg-right {
    text-align: right;
  }
}

@media (min-width: 1025px) {
  .min-md-right {
    text-align: right;
  }
}

@media (min-width: 768px) {
  .min-sm-right {
    text-align: right;
  }
}

@media (min-width: 480px) {
  .min-xs-right {
    text-align: right;
  }
}

@media (min-width: 320px) {
  .min-exs-right {
    text-align: right;
  }
}

@media (min-width: 1025px) {
  .vsection-intro {
    padding-left: 65px;
    padding-right: 65px;
  }
}

.big-man-list {
  margin-top: 30px;
  color: #333b3f;
}

.big-man-about {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .big-man-intro {
    text-align: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 1024px) {
  .big-man {
    max-height: 250px;
  }
  .big-man-wrap {
    text-align: center;
    margin-bottom: 15px;
  }
}

@media (min-width: 1025px) {
  .big-man-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .big-man-list {
    padding-left: 15px;
    margin-top: 45px;
  }
}

@media (min-width: 1200px) {
  .big-man-about {
    margin-top: 60px;
  }
  .big-man-list {
    margin-top: 90px;
  }
}

.rule-wrapper {
  margin-top: 30px;
  text-align: center;
  color: #333b3f;
}

.rule img {
  margin-bottom: 15px;
}

@media (max-width: 1024px) {
  .rule {
    margin-bottom: 30px;
  }
  .rule:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .rule-wrapper {
    margin-top: 50px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1200px) {
  .rule img {
    margin-bottom: 30px;
  }
}

.what-today-section {
  z-index: 1;
  padding-bottom: 0;
  background: url("../img/what-today.jpg") center center no-repeat;
  background-size: cover;
}

.what-today-fluid {
  margin-bottom: -45px;
}

@media (min-width: 1025px) {
  .what-today-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 80px;
  }
  .what-today-list li {
    margin-bottom: 60px;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }
}

@media (min-width: 1200px) {
  .what-today-inner {
    padding-left: 70px;
    padding-right: 70px;
  }
  .what-today-list li {
    padding-right: 40px;
    margin-bottom: 75px;
  }
}

.fluid-block {
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.fluid-block-corp {
  background-color: #fd7036;
}

.fluid-block-inner {
  border: 1px solid #fff;
}

@media (max-width: 767px) {
  .fluid-block {
    margin-top: 30px;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 15px;
  }
  .fluid-block-inner {
    padding: 15px;
  }
}

@media (min-width: 768px) {
  .fluid-block {
    padding: 15px 25px;
    font-size: 24px;
  }
  .fluid-block-inner {
    padding: 50px 15px;
  }
}

.variant-section {
  padding-top: 90px;
  color: white;
  background: url("../img/variant.jpg") 0 0 no-repeat;
  background-size: cover;
}

.variant-block {
  position: relative;
  line-height: 1.2;
}

.variant-block-wrap:last-child {
  margin-bottom: 0;
}

.variant-number {
  line-height: 0.7;
  font-size: 72px;
  font-style: italic;
  color: #fd7036;
}

.variant-title {
  margin-top: 45px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 767px) {
  .variant-title {
    font-size: 11px;
  }
}

@media (max-width: 1024px) {
  .variant-block {
    text-align: center;
  }
  .variant-block-wrap {
    margin-bottom: 30px;
  }
  .variant-title {
    margin-bottom: 30px;
  }
  .variant-number {
    margin-bottom: 15px;
    text-align: center;
  }
}

@media (min-width: 1025px) {
  .variant-form {
    margin-bottom: -100px;
  }
  .variant-wrap {
    margin-top: 100px;
  }
  .variant-inner {
    padding-left: 70px;
    padding-right: 70px;
  }
  .variant-block {
    padding-left: 25px;
  }
  .variant-block-2 {
    padding-left: 70px;
    position: relative;
    left: 20px;
  }
  .variant-block-2 .variant-number {
    left: -5px;
  }
  .variant-text {
    font-size: 24px;
  }
  .variant-number {
    position: absolute;
    left: -55px;
    top: 5px;
  }
  .variant-title {
    margin-top: 150px;
  }
}

.why-section {
  padding-bottom: 0;
  z-index: 1;
}

.why-title {
  color: #355c98;
  text-transform: uppercase;
  font-size: 21px;
}

.why-header {
  margin-bottom: 15px;
}

.why-inner {
  background-color: #fff;
  padding-bottom: 75px;
  margin-bottom: -35px;
}

@media (max-width: 767px) {
  .why-wrap {
    text-align: center;
    margin-bottom: 30px;
  }
  .why-wrap:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .why-row {
    position: relative;
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .why-row:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #d2d9e4;
  }
  .why-header {
    padding-left: 20px;
  }
  .why-image, .why-title {
    display: inline-block;
    vertical-align: middle;
  }
  .why-title {
    max-width: 200px;
    font-size: 19px;
  }
  .why-image {
    margin-right: 25px;
  }
  .why-wrap {
    margin-bottom: 35px;
  }
}

@media (min-width: 1025px) {
  .why-section {
    padding-top: 135px;
  }
  .why-inner {
    padding-left: 65px;
    padding-right: 65px;
  }
  .why-title {
    max-width: 300px;
    font-size: 24px;
  }
  .why-title-big {
    font-size: 40px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .why-row {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.we-machine-section {
  padding-top: 95px;
  background: url("../img/we-machine.jpg") 0 0 no-repeat;
  background-size: cover;
}

.we-machine-title {
  margin-bottom: 15px;
}

.we-machine-intro {
  margin-bottom: 45px;
}

.we-machine-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media (min-width: 768px) {
  .we-machine-list li {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    margin-bottom: 60px;
  }
}

@media (min-width: 1025px) {
  .we-machine-intro {
    margin-bottom: 90px;
  }
  .we-machine-list li {
    -webkit-flex-basis: 33.3333%;
        -ms-flex-preferred-size: 33.3333%;
            flex-basis: 33.3333%;
  }
}

.slider .owl-nav {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -34px;
}

.slider .owl-prev, .slider .owl-next {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0 8px 10px rgba(244, 75, 0, 0.64);
          box-shadow: 0 8px 10px rgba(244, 75, 0, 0.64);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 100, 56, 0.8)), to(rgba(255, 140, 50, 0.8)));
  background-image: -webkit-linear-gradient(bottom, rgba(252, 100, 56, 0.8), rgba(255, 140, 50, 0.8));
  background-image: linear-gradient(to top, rgba(252, 100, 56, 0.8), rgba(255, 140, 50, 0.8));
}

.slider .owl-prev:after, .slider .owl-next:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 24px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../img/arrow.png") 0 0 no-repeat;
  background-size: cover;
}

.slider .owl-prev {
  left: 0;
}

.slider .owl-next {
  right: 0;
}

.slider .owl-next:after {
  -webkit-transform: translate(-50%, -50%) scaleX(-1);
      -ms-transform: translate(-50%, -50%) scaleX(-1);
          transform: translate(-50%, -50%) scaleX(-1);
}

@media (min-width: 768px) {
  .slider .owl-prev, .slider .owl-next {
    width: 68px;
    height: 68px;
  }
  .slider .owl-prev:after, .slider .owl-next:after {
    width: 23px;
    height: 37px;
  }
}

.review-section {
  padding-bottom: 0;
  z-index: 1;
}

.review-wrap {
  margin-bottom: 50px;
}

.review-container-inner {
  padding-top: 50px;
  background-color: #fff;
  margin-top: -90px;
  margin-bottom: -30px;
}

.review-slider {
  margin-bottom: 45px;
}

.review-name {
  line-height: 1;
  color: #333b3f;
  text-transform: uppercase;
}

.review-body {
  font-style: italic;
  position: relative;
  z-index: 1;
}

.review-body:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 75px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  background: url("../img/quote.png") 0 0 no-repeat;
  background-size: cover;
}

@media (max-width: 767px) {
  .review {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .review-wrap {
    text-align: center;
  }
  .review-inf {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin-bottom: 15px;
  }
  .review-body {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .review-name {
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  .review-slider {
    margin-bottom: 75px;
  }
  .review-inf {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .review-name {
    font-size: 24px;
    margin-right: 15px;
  }
  .review-image {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .review-body {
    min-height: 140px;
  }
  .review-body:after {
    width: 140px;
    height: 105px;
  }
}

@media (min-width: 1200px) {
  .review-row {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.step-section {
  background: url("../img/steps.jpg") 0 100% no-repeat;
  background-size: cover;
}

.step-line {
  display: block;
  background: url("../img/step_most.png") 0 0 no-repeat;
  background-size: contain;
}

.step-wrap:last-child .step-line {
  background-image: url("../img/step_last.png");
}

.step-header {
  margin-bottom: 15px;
  text-align: center;
}

.step-title {
  font-size: 23px;
  text-transform: uppercase;
}

.step-image {
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .step {
    position: relative;
    padding: 0 15px;
  }
  .step-wrap {
    text-align: center;
    margin-bottom: 45px;
  }
  .step-line {
    position: absolute;
    left: 0;
    top: 135px;
    -webkit-transform: translate(-48%, 0%) rotate(90deg);
        -ms-transform: translate(-48%, 0%) rotate(90deg);
            transform: translate(-48%, 0%) rotate(90deg);
    width: 100%;
    height: 10px;
    background-size: cover;
  }
  .step-body {
    font-size: 16px;
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  .step-section {
    padding-top: 75px;
  }
  .step-line {
    height: 10px;
    margin-bottom: 15px;
  }
}

.question {
  padding: 45px 15px;
  background: url("../img/question.jpg") 0 0 no-repeat;
  background-size: cover;
}

.question-section {
  background-color: #355c97;
}

.question-title {
  font-size: 25px;
  margin-bottom: 15px;
  color: #fd7036;
}

.question-title-small {
  font-size: 20px;
  color: white;
}

.question-title, .question-title-small {
  text-transform: uppercase;
}

.question-logo {
  font-size: 0;
}

.question-logo, .question-form {
  margin-top: 50px;
}

@media (max-width: 767px) {
  .question {
    margin-left: -15px;
    margin-right: -15px;
  }
  .question-section {
    padding-top: 0;
  }
}

@media (max-width: 1199px) {
  .question-form input,
  .question-form button {
    width: 100%;
    display: block;
  }
  .question-form input {
    margin-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .question {
    padding: 65px 25px 35px;
  }
  .question-title {
    font-size: 48px;
  }
  .question-title-small {
    font-size: 24px;
  }
  .question-form {
    margin-top: 60px;
  }
  .question-logo {
    margin-top: 90px;
  }
}

@media (min-width: 1200px) {
  .question-form .vform-main-inner {
    margin-right: 15px;
  }
  .question-form .vform-main-inner,
  .question-form .vform-main-button {
    display: inline-block;
  }
}

.phones-tablets {
  margin-bottom: 15px;
  font-size: 0;
}

.phones-tablets a {
  font-size: 17px;
  width: 50%;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

.phones-tablets a:last-child {
  text-align: right;
}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-clock-o:before {
  content: "";
}

.fa-flag:before {
  content: "";
}

.fa-heart-o:before {
  content: "";
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: "";
}

.fa-comments-o:before {
  content: "";
}

.fa-instagram:before {
  content: "";
}

.fa-vk:before {
  content: "";
}

.fa-google:before {
  content: "";
}

.vmodal, .vmodal-dialog, .showing, .vmodal-backdrop {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.vmodal, .vmodal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.vmodal {
  padding: 15px;
  overflow: hidden;
  z-index: 1000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.vmodal-open .vmodal {
  overflow-x: hidden;
  overflow-y: auto;
}

.vmodal-dialog {
  position: relative;
  outline: 0;
}

.vmodal-box {
  padding: 40px 10px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: white;
}

.vmodal-backdrop {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.vmodal-header, .vmodal-body, .vmodal-footer {
  position: relative;
}

.vmodal-header:after, .vmodal-header:before, .vmodal-body:after, .vmodal-body:before, .vmodal-footer:after, .vmodal-footer:before {
  content: "";
  display: table;
}

.vmodal-header:after, .vmodal-body:after, .vmodal-footer:after {
  clear: both;
}

.vmodal-body {
  font-size: 15px;
}

.vmodal-body-inner {
  height: 350px;
  overflow-y: auto;
  padding: 15px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

.vmodal-body-inner p {
  margin-bottom: 15px;
}

.vmodal-body-inner p:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .vmodal-body-inner {
    padding: 0 30px;
    height: 400px;
  }
}

.vmodal-close {
  display: block;
  width: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
  z-index: 1;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.vmodal-close:hover {
  color: #ED2553;
}

.vmodal-title {
  position: relative;
  margin-bottom: 15px;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 1.1;
  color: #fd7036;
}

@media (min-width: 768px) {
  .vmodal-title {
    text-align: left;
  }
  .vmodal-title:after {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 5px;
    height: 100%;
    background-color: #fd7036;
  }
}

.vmodal-transparent {
  background-color: rgba(0, 0, 0, 0.9);
}

.vmodal-transparent .vmodal-box {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
}

.vmodal-transparent .vmodal-close {
  color: #fff;
}

@media (min-width: 768px) {
  .vmodal-transparent .vmodal-close {
    top: -15px;
    font-size: 60px;
  }
}

.vmodal-transparent .vmodal-title {
  padding-left: 30px;
}

.vmodal-transparent .vmodal-title:after {
  left: 0;
}

@media (min-width: 768px) {
  .vmodal-transparent .vmodal-title {
    padding-right: 50px;
  }
}

@media (max-width: 767px) {
  .vmodal-transparent .vmodal-title {
    font-size: 19px;
    padding-right: 40px;
    margin-bottom: 15px;
  }
}

.vmodal-video {
  margin-top: 60px;
}

@media (max-width: 767px) {
  .vmodal-video {
    margin-top: 30px;
  }
}

.vmodal-iframe {
  display: block;
  width: 100%;
  min-height: 300px;
}

@media (min-width: 480px) {
  .vmodal-dialog-default {
    max-width: 460px;
  }
  .vmodal-box {
    padding: 60px 50px 40px 50px;
  }
  .vmodal-title {
    font-size: 28px;
  }
  .vmodal-title:after {
    left: -50px;
  }
}

@media (max-width: 767px) {
  .vmodal-dialog {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .vmodal-dialog-center {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .vmodal-dialog.big {
    width: 600px;
    margin: 30px auto;
  }
}

.showing, .vmodal, .vmodal-backdrop {
  opacity: 0;
  visibility: hidden;
}

.showing-in {
  opacity: 1;
  visibility: visible;
}

/* ===================== 
Start: ANIMATIONS      
======================== */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/* =====================
End:  ANIMATIONS
======================== */
/**
 * Owl Carousel v2.2.1
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.vtabs-links {
  margin-bottom: 45px;
  text-align: center;
}

.vtabs-list {
  display: inline-block;
  font-size: 0;
}

.vtabs-list a {
  display: block;
  min-width: 150px;
  padding: 10px;
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
}

.vtabs-list a:after {
  left: 0;
  bottom: -15px;
  width: 100%;
  height: 5px;
  opacity: 1;
  -webkit-transform: translateY(-7.5px);
      -ms-transform: translateY(-7.5px);
          transform: translateY(-7.5px);
}

.vtabs-list li {
  display: block;
}

.vtabs-list a:hover, .vtabs-list li.active a {
  color: #fd7036;
}

.vtabs-list a:hover:after, .vtabs-list li.active a:after {
  background-color: #fea682;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.vtabs-content-inner {
  display: none;
}

.vtabs-content-inner.active {
  display: block;
}

@media (min-width: 768px) {
  .vtabs-list {
    padding-bottom: 10px;
    border-bottom: 5px solid #f3f3f3;
  }
  .vtabs-list li {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .vtabs-list li:not(:last-child) {
    margin-bottom: 30px;
  }
}
