.vform-main{
	width: 100%;
	font-size: 0;
	@extend .center-block;
	@include resp-min(sm){
		&-fixed-width{
			width: 300px;
		}
	}
	input{
		border: 1px solid #d2d9e4;
		border-radius: 0;
		text-align: center;
		max-width: 100%;
		padding: 18.8px 0;
		color: #92979a;
		font-size: 18px;
		outline: none;
		@extend .block-inline;
		@extend .regular;
		@extend .transition;
		&:focus{
			border-color: setColor(main);
		}
	}
	&-inner{
		position: relative;
	}
	&-inner input,
	&-button button{
		display: block;
		width: 100%;
	}
	&-necessary{
		display: block;
		position: absolute;
		top: 5px;
		right: 5px;
		font-size: 10px;
		color: #ff8433;
	}
	@at-root{
		.vmodal &{
			color: setColor(main);
			&-inner{
				margin-bottom: 15px;
			}
			[type="submit"]{

			}
			@include resp-max(sm){
				input,button{
					font-size: 15px;
				}
			}
		}
	}
	@include resp-min(lg){
		button{
			display: inline-block;
		}
	}
}