.vform-main{
	width: 100%;
	font-size: 0;
	@extend .center-block;
	@include resp-min(sm){
		&-fixed-width{
			width: 300px;
		}
	}
	input{
		border: 1px solid #d2d9e4;
		border-radius: 0;
		text-align: center;
		max-width: 100%;
		padding: 18.8px 0;
		color: #92979a;
		font-size: 18px;
		outline: none;
		@extend .block-inline;
		@extend .regular;
		@extend .transition;
		&:focus{
			border-color: setColor(main);
		}
	}
	
	@at-root{
		.vmodal &{
			color: $color-modal-trans;
			[type="submit"]{
				border: 3px solid $color-modal-trans;
				border-radius: 0;
				background-color: transparent;
				font-size: 20px;
				color: inherit;
				text-transform: uppercase;
				outline: none;
				&:hover,
				&:focus{
					border-color: $color-modal-main;
					color: $color-modal-main;
				}
			}
		}
	}
	@include resp-min(lg){
		button{
			display: inline-block;
		}
	}
}