.list{
  li{
    @extend .relative;
    &:after{
      @extend .pseudo;
      top: 0;
    }
  }
  @at-root{
    %list-check{
      li{
        padding-left: 40px;
        margin-bottom: 15px;
        &:after{
          top: 0;
          left: 0;
          width: 30px;
          height: 24px;
        }
      }
    }
  }
  &-check{
    &-orange{
      li{
        &:after{
          @include bg('../img/check.png');
        }
      }
    }
    &-small,
    &-big{
      @extend %list-check;
    }
  }
  &-cancel{
    li{
      padding-left: 40px;
      &:after{
        top: 0;
        left: 0;
        width: 25px;
        height: 25px;
        @include bg('../img/cancel.png');
      }
    }
  }
  @include resp-max(sm){
    &-cancel{
      li{
        padding-top: 40px;
        &:after{
          margin-left: -18.5px;
        }
      }
    }
  }
  @include resp-min(sm){
    &-check{
      &-big{
        li{
          padding-left: 40px;
          &:after{
            width: 46px;
            height: 37px;
          }
        }
      }
    }
    &-cancel{
      li{
        padding-left: 70px;
        &:after{
          width: 50px;
          height: 50px;
        }
      }
    }
  }
  @include resp-min(md){
    &-cancel{
      li{
        padding-left: 90px;
      }
    }
  }
}