include ./mixins
.vrow.flex-v-center
	.vak-xs-8.vak-md-2
		.vnav-logo
			button(type="button" class="vnav-btn" data-menu=".vnav-wrap-fixed .vnav")
				span.lines
					span
					span
					span
				//span.text Menu
			.block-inline
				img(src="img/logo.png" alt="")
	nav.vnav.vak-xs-12.vak-md-7.min-md-right
		ul
			+item("#sec1", "active") Преимущества машинной штукатурки
			+item("#sec2") Отзывы
			+item("#sec3") Выполненные работы
	.vak-xs-4.vak-md-3.text-right
		.vnav-text-toggle
			span
			span
			span
		.vnav-text
			a.vnav-text-inner 095 815 63 69
			//a.vnav-text-inner.vnav-text-hidden 098 891 95 52
			a.vnav-text-inner 098 891 95 52