.header {
	@extend .relative;
	min-height: 50px;
	z-index: z('default');
	color: #fff;
	padding: 30px 0 0 0;
	margin-bottom: 80px;
	@include bg('../img/header.jpg', right center);
	&-do{
		text-transform: uppercase;
		line-height: 1;
		font-size: 16px;
		@extend .black;
		&-title{
			font-size: 24px;
			text-decoration: underline;
		}
		&-inner{
			display: inline-block;
			vertical-align: middle;
			&:first-child{
				margin-right: 3.5px;
			}
		}
	}
	&-block{
		&-wrap{
			margin-top: 30px;
		}
	}
	&-form{
		padding: 20px 15px;
		background-color: #fff;
		
		margin-bottom: -50px;
		text-align: center;
		box-shadow: 0 0 9px rgba(13,13,17,.14);
		&-title{
			margin-bottom: 20px;
			font-size: 15px;
			text-transform: uppercase;
			text-decoration: underline;
			color: #355c98;
		}
		@include resp-max(sm){
			.vform-main-inner input,
			.vform-main-button button{
				display: block;
				width: 100%;
			}
			.vform-main-inner{
				margin-bottom: 15px;
			}
		}
		@include resp-min(sm){
			@include resp-max(lg){
				&-inner{
					display: flex;
					flex-wrap: wrap;		
					.vform-main-inner{
						flex-basis: 33.3333%;
						padding-right: 15px;
						&:nth-child(1),
						&:nth-child(2){
							border-right: none;
						}
						&:nth-child(3){
							padding-right: 0;
						}
					}
					.vform-main-button{
						flex-basis: 100%;
						margin-top: 15px;
					}
				}
			}
		}
		@include resp-min(md){
			
		}
		@include resp-min(lg){
			.vform-main-button,
			.vform-main-inner{
				display: inline-block;
			}
			.vform-main-inner{
				margin-right: 15px;
			}
		}
	}
	@include resp-max(sm){
		background-position-x: 75%;
		&-do{
			text-align: center;
		}
		&-block{
			&-text{
				font-size: 15px;
			}
		}
	}
	@include resp-min(sm){
		padding-top: 50px;
		&-do{
			position: absolute;
			top: 115px;
			left: 390px;
			&-big-ls{
				letter-spacing: 10px;
			}
			&-inner:first-child{
				margin-right: 15px;
			}
			&-title{
				font-size: 27px;
			}
		}
		&-form{
			&-title{
				font-size: 21px;
			}
		}
	}
	@include resp-max(md){
		&-block{
			margin-bottom: 30px;
		}
	}
	@include resp-min(md){
		padding-top: 94px;
		&-intro{
			padding-left: 65px;
		}
		&-do{
			left: 490px;
		}
		&-block{
			&-text{

				font-size: 15px;
			}
		}
		&-form{
			margin-top: 57px;
			&-title{
				font-size: 20px;
			}
			&-inner{
				padding: 0 10px;
				text-align: left;
			}
		}
	}
	@include resp-max(lg){
		&-block{
			&-inner{
				text-align: center;
			}
			&-image{
				min-height: 55px;
			}
		}
	}
	@include resp-min(lg){
		&-block{
			&-image,
			&-text{
				display: inline-block;
				vertical-align: middle;
			}
			&-image{
				margin-right: 15px;
			}
			&-text{
				max-width: 180px;
			}
		}
	}
}